# Q15.Write a Python program to get a string from a given string where all
# occurrences of its first char have been changed to "@", except the first char itself

In [3]:
r="tutor joes Ksa lga test Mitro "
print("Given String :",r)
x=r[0]
print(x)
a=r.replace(x,'@')
print(a)
b=x+a[1:]
print(b)

Given String : tutor joes Ksa lga test Mitro
t
@u@or joes Ksa lga @es@ Mi@ro
tu@or joes Ksa lga @es@ Mi@ro

# Q14.Write a Python program to get a single string from two given strings,
# separated by a space and swap the first two characters of each string

In [11]:
a = 'abc'
b = 'xyz'
print("Before Swap :",a," ",b)
a1 = b[:2] + a[2:]
b1 = a[:2] + b[2:]
print("After Swap :",a1," ",b1)

Before Swap : abc   xyz
After Swap : xyc   abz

# Q13.Write a Python programe to reverses a string if its length is a multiple of 6

In [ ]:
a=input("Enter the String :")
if len(a) % 6 == 0:
   print(''.join(reversed(a)))
else:
    print(a)

Enter the String :gyujfh

# Q12.12.Write a Python program to check whether a string starts with specified characters

In [12]:
r = "All the best"
print(r.startswith("All"))
print(r.startswith("best"))

True
False

# Q11.Write a Python program to print the following floating numbers with no decimal places?

In [2]:
a =23.36778
b =-74.99
print(round(a))
print(round(b))

23
-75

# Q10. WAP and take the input predifined in one string to get the output as ['Our','Sir','Name is','Nikhil Sir']

In [3]:
str = "Our/nSir/nName is/nNikhil Sir"
print(str.split(','))

['Our/nSir/nName is/nNikhil Sir']

# Q9.val = {'T', 'u', 't', 'o', 'r', 'J', 'o', 'e' , 's'} and convert it it to string?
# output should be:{'J', 'r', 't', 'u', 's', 'o', 'T', 'e'} 
# ['J', 'r', 't', 'u', 's', 'o', 'T', 'e']

In [15]:
val = {'T', 'u', 't', 'o', 'r', 'k', 'i', 't' , 'e'}
print(val)
s = list(val)
print(s)
print(type(s))

{'e', 'i', 't', 'o', 'k', 'T', 'u', 'r'}
['e', 'i', 't', 'o', 'k', 'T', 'u', 'r']
<class 'list'>

# Q8.Write a Python program to print the following integers with zeros on the left of specified width?

In [17]:
a = 23
b = 833
print(""+"{:0>4}".format(a));
print(""+"{:0>6}".format(b));

0023
000833

In [24]:
a=23
x=str(a)

TypeError: 'str' object is not callable

# #.Write a Python program to print the following floating numbers upto 2 decimal places

In [6]:
a = 84.4423                               #To have some knowledge
b = 23.36778
print("Original Value A : ", a)
print("Formatted Value A : "+"{:.2f}".format(a));
print("Original Value B : ", b)
print("Formatted Value B : "+"{:.2f}".format(b));

print()

SyntaxError: invalid syntax (2455520685.py, line 4)

# Q6.Write a Python program to Rename key of a dictionary

In [18]:
student = {
    "Name": "Tara",
    "RollNo":130046, 
    "Mark": 458, 
    "Age":16
}
print("Before Rename Key of a Dictionary :",student)
student["Mark10"] = student.pop("Mark")
student["RegNo"] = student.pop("RollNo")
print("After Rename Key of a Dictionary :",student)

Before Rename Key of a Dictionary : {'Name': 'Tara', 'RollNo': 130046, 'Mark': 458, 'Age': 16}
After Rename Key of a Dictionary : {'Name': 'Tara', 'Age': 16, 'Mark10': 458, 'RegNo': 130046}

# Q5.Write a Python program to Initialize dictionary with default values?

In [16]:
x = ["Siva", "Sam", "Ram", "Pooja"]
d = {"designation": "Student", "Department": "BCA"}
 
result = dict.fromkeys(x,d)

print(result)
#result['Siva']
# Individual data
#print("\nSiva :",result["Siva"])
#print("\nSam :",result["Sam"])
#print("\nRam :",result["Ram"])
#print("\nPooja :",result["Pooja"])

{'Siva': {'designation': 'Student', 'Department': 'BCA'}, 'Sam': {'designation': 'Student', 'Department': 'BCA'}, 'Ram': {'designation': 'Student', 'Department': 'BCA'}, 'Pooja': {'designation': 'Student', 'Department': 'BCA'}}

# Q4.Write a Python program to Convert two lists into a dictionary?

In [20]:
x = ["One", "Two", "Three", "Four", "Five"]
y = [1, 2, 3, 4, 5]
s = dict(zip(x, y))
print(s)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

# Q3.Write a Python program to sum all the items in a dictionary?

In [21]:
d = {1:23,2:45,3:-17,4:87}
print(sum(d.values()))

138

# Q2.Write a Python script to merge two Python dictionaries?

In [22]:
d={"Name":"Ram" , "Age":23}
d1={"City": "Salem", "Gender": "Male"}
s = d.copy()
s.update(d1)
print(s)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

# Q1.Write a Python program to check whether a given key already exists in a dictionary?

In [32]:
i=input('enter the input: ')
d = {"Name":"Ram" , "Age":23}
if i in d:
  print('Key is Available in the Dictionary')
else:
  print('Key is not Available in the Dictionary')

enter the input: Age
Key is Available in the Dictionary

In [4]:
x="qwjkdfvejwk@gmail.com"

In [7]:
x=input("enter the num: ")
t=x[0]
d=x.replace(t,'@')
print(t+d[1:])

enter the num: asdfgfhtuyiazxcgtrewaxcvghjk
asdfgfhtuyi@zxcgtrew@xcvghjk

In [28]:
a=1234
e=a//1000
print(e)

b=a%10
print(b)

c=a%100
c=c//10
print(c)

d=a%1000
d=d//100
print(d)

1
4
3
2

In [31]:
#Q1.Write a program to display only those numbers from a list that satisfy the following conditions
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop?
x = [12, 75, 150, 180, 145, 525, 50]
for i in x:
    if i > 500:
        break;
    elif i > 150:
        continue;
    elif i % 5 == 0:
        print(i)

75
150
145

In [17]:
#Q2.Write a program to calculate the sum of series up to n term. 
#For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

x=int(input("ENter the number: "))
n=x
sum =0
for i in range(0, x):   # x=4 i=0  print(5)  sum=0+4=4  x=x*10+n
    print(x, end="+") 
    x = x * 10 + n    # 4 x=4*10=40+4  
    sum=sum+x
    
print("\nSum of above series is:", sum)

ENter the number: 5
5+55+555+5555+55555+
Sum of above series is: 617275

In [34]:
#Q3.Accept 10 numbers from the user and display their average
a=0
for i in range(10):
    n=int(input("ENter the number: "))
    a=a+n
print("Average of 10 numbers:",a/10)

ENter the number: 3
ENter the number: 4
ENter the number: 5
ENter the number: 6
ENter the number: 7
ENter the number: 8
ENter the number: 9
ENter the number: 6
ENter the number: 5
ENter the number: 4
Average of 10 numbers: 5.7

In [6]:
# Q4.Q4.WAP to accept a number and check wheater it is perfect number or not?
#(Perfect number is a positive integer which is equal to the sum of its divisior
#of 6 are 1,2,3 sum of divisiors is also 6,so 6 is perfect number

x=int(input("ENter the number: "))
a=0
for i in range(1,x):
    if x%i==0:
        a=a+i
if x==i:
    print("Number is perfect ")
else:
    print("Not perfect")

ENter the number: 1
Number is perfect

In [5]:
l=[1,2,3,4,2,3,4,5,6,7,4,5,6]
l.pop(0)
print(l)

[2, 3, 4, 2, 3, 4, 5, 6, 7, 4, 5, 6]

In [7]:
l=[1,2,3,4,2,3,4,5,6,7,4,5,6]
for i in range(len(l)):
    s=l.pop(0)
    if s not in l:
        l.append(s)
print(l)

[1, 2, 3, 7, 4, 5, 6]

In [16]:
# Q2.Write a program to calculate the sum of series up to n term. 
# For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690
x=int(input("Enter the number: "))   
n=x
sum=0
for i in range(0,x):  # x=7 i=0 print(7) x=7*10+7=77
    print(x,end="+")  # x=77 i=1 print(77) x=77*10+7=777
    x=x*10+n         # x=777 i=2 print(777) x=777*10+7=7777
    sum=sum+x        
print('\n=',sum)

Enter the number: 7
7+77+777+7777+77777+777777+7777777+
= 86419739

In [26]:
for i in range(2,100):
    for j in range(2,i): ###i==4 ___4%2==0---------------------------------------- break the number
        if i%j==0:       ###i==5____5%2!=0,5%3!=0,5%4!=0 the numbere will  gone else condition
            break       ####i==6___6%2%=0,--------------------------------------break the number
    else:                ####i==7___7%2!=0,7%3!=0,7%4!=0,7%5!=0,7%6!=0 the number will gone else condition
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [39]:
x=int(input("Enter the number: "))
a=1
if x==1 or x==0:     #x==1 or x==0 True
    a=0           
for i in range(2,x):
    if x%i==0:             #i=2 x=11 x=11%2==0 a=True a==1  Not prime  a==0  Prime
        a=0                #i=2 x=12 x=12%2==0 True a=1
if a==0:
    print("Not Prime")
else:
    print("Prime")

Enter the number: 21
Not Prime

In [41]:
x=int(input("Enter the number: "))
n=x
sum=0
for i in range(0,x):
    print(x,end="+")
    x=x*10+n
    sum=sum+x
print("\n",'=',sum)

Enter the number: 5
5+55+555+5555+55555+
 = 617275

In [42]:
l=[1,2,3,'4',5]

In [43]:
l=[1,2,3,4,4,4,4,4,4,5,6,7,5,4,4,4,4,4,4,4,4,4,4,4]

In [76]:
x='AD2T3E4'
a=0
for i in x:     #i=A a=0+1  b=A print(b*a)(A*1)=A
    b=''        # i=D a=1+1=2 b=D print(b*a)(D*2)(DD)
                 # i=2 
                 # i=t a=2+1=3 b=t print(b*a)(t*3)(ttt)
                 # i=3
                  # i=E a=3+1=4 b=E print(b*a)(E*3)(EEEE)
    if i.isalpha():
        a=a+1
        b=b+i
        print(b*a,end="")

ADDTTTEEEE

In [77]:
l=[4,9,25,11,27,81]
a=[]
b=[]
for i in l:
    print(i)

4
9
25
11
27
81

In [79]:
l=[]
for i in range(1,22):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441]

In [95]:
#l=[1,2,3,4,5,6,7,8]
l=[8,9,4,6,7,3,2,4]
a=[]
b=[]
for i in l:
    if i%2==0:
        a.append(i)
    else:
        b.append(i)
print(a)
print(b)

[8, 4, 6, 2, 4]
[9, 7, 3]

In [81]:
def perfectsqur(l,r):
    for i in range(l,r+1):
        if (i**(.5))==int(i**(.5)):
            print(i,end=' ')
l=2
r=24
perfectsqur(l,r)

4 9 16

In [84]:
1%2

1

In [86]:
4%2

0

In [87]:
5%2

1

In [90]:
14%3

2

In [91]:
18%4

2

In [92]:
31%6

1

In [93]:
12%2

0

In [98]:
l=[1,2,3,4,5,67,6]
sum=0
for i in l:   #i=1   sum=0+1=1  i=2 sum=1+2=3 i=3 sum=3+3=6  i=4 sum=6+4 print(10) i=5 sum=10+5 print(15)
    sum=sum+i     #i=67  sum=15+67=82  print(82)   i=6 sum=82+6=88 print(88)
    print(sum,end=" ")

1 3 6 10 15 82 88

In [101]:
l=[1,2,3,4,5,6,3,3,4,6,7]
count=0
for i in l:   #i=1 count=0+1
    count=count+1
print(count)

11

In [111]:
x=int(input("Enter the number: "))
a=0                        #x=4 4%2==0  True   8%2==0  True  6%2==0  i=3%2==0 True 6%6==0 true
if x==0 or x==1:            #x=2  2%2==0 True 
    a=1
for i in range(2,x):
    if x%i==0:
        a=1                      # 2 4 6
if a==1:
    print("Not prime")
else:
    print("Prime number ")

Enter the number: 5
Prime number

In [113]:
# 2,4,6
for i in range(2,8,2):
    for j in range(1,11):
        print(i*j,end=' ')
        
    print()

2 4 6 8 10 12 14 16 18 20
4 8 12 16 20 24 28 32 36 40
6 12 18 24 30 36 42 48 54 60

In [116]:
a=2
b=4
c=6
for i in range(1,11):
    print(a,'*',i,'=',a*i,'      ',b,'*',i,'=',b*i,'        ',c,"*",i,'=',c*i )

2 * 1 = 2        4 * 1 = 4          6 * 1 = 6
2 * 2 = 4        4 * 2 = 8          6 * 2 = 12
2 * 3 = 6        4 * 3 = 12          6 * 3 = 18
2 * 4 = 8        4 * 4 = 16          6 * 4 = 24
2 * 5 = 10        4 * 5 = 20          6 * 5 = 30
2 * 6 = 12        4 * 6 = 24          6 * 6 = 36
2 * 7 = 14        4 * 7 = 28          6 * 7 = 42
2 * 8 = 16        4 * 8 = 32          6 * 8 = 48
2 * 9 = 18        4 * 9 = 36          6 * 9 = 54
2 * 10 = 20        4 * 10 = 40          6 * 10 = 60

In [3]:
for i in range(2,9,2):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [124]:
l=[1,2,2,2,2,3,3,4,45,6,6,78,8,6,4,32,2]
x=[]
g=[]
b=0
sum=0
for i in l:   
    if i==2:
        b=b+1
        sum=sum+i
print('count of 2 is:',b)
x.append(sum)
g.append(b)
print(g+x)
print(x)

count of 2 is: 5
[5, 10]
[10]

In [125]:
l=[2,'apple',3.5]
l[1]='orange'

In [126]:
l

[2, 'orange', 3.5]

In [6]:
n=int(input("ENter the number: "))
for i in range(n):
    for j in range(n):
        if j==0 or i+j==n-2 or i-j==1:
            print('#',end=' ')
        else:
            print('',end=' ')
    print()

ENter the number: 5
#   #
#  #
# #
#  #
#   #

In [ ]:
1
2 6 
3 7 10
4 8 11 13
5 9 12 14 15

In [ ]:
#           *
#          * *
#         * * *
#       * * * * *

In [ ]:
# Operators
# string
# list
# tuple ka overview like agr hume chnges krne hh toh list mai kse covert krte hh kse chlta hh
# Must For loop the most imp topic
# while 40 prcnt Imp
# The whole D.A is based on numpy and pandas VVVV.IMP
# SQL Highest salary 1st yah fir 7th highest
# like,where ,groupby,having,default,joins

In [29]:
for i in range(7):
    for j in range(7):
        if j==0:
            print("#",end=' ')
        else:
            print(" ",end=' ')
    print()

#
#
#
#
#
#
#

In [22]:
for i in range(5):
    for j in range(5):
        if (i==0 and j==1 or i==0 and j==2 or i==0 and j==3 or i==0 and j==4 or i==1 and j==0 or i==2 and j==1 or i==2 and j==2 or i==2 and j==3 or i==3 and j==4 or i==4 and j==3 or i==4 and j==2 or i==4 and j==1 or i==4 and j==0):
             print("#",end=" ")
        else:
            print(" ",end=" ")
    print()

  # # # #
#
  # # #
        #
# # # #