# Variables

# A variable is the name given to the memory location in a programe

# Variables = It is a container that stores the value.A variable can only start with an alphabet and underscore

In [1]:
# e.g
a=30  # A is the variable 
b="Uttam Sir" # Here b is the variable
c=71.22  # Here c is the variable

# Datatypes

# 1. Integers - Are those who does not contain any decimal value and nor any caracter 
#  Integers are only the numbers such as 1,2,3,4,5....and so on

In [ ]:
int=1
int=2
int=4

# 2. Float = A number which contains decimal number is called as float e.g 1.2,2.5,3.4 ....and soo on

In [3]:
float=5.6
float=2.3
float=1.3

# 3. String = String contains Alphabets

In [4]:
string='efjfs'

# 4.Boolean tells us either it is True or False

In [2]:
x=5
b=4
x==b

False

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
x=pd.read_csv("Downloads\\bollywood.csv")

In [3]:
x

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [22]:
x.loc[0:2]

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.0,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.0,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.0,572336,586,54

In [23]:
x.iloc[0:4]

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19

In [6]:
x.groupby('Genre')['ReleaseTime'].count()

Genre
 Drama       35
Action       21
Action        3
Comedy       36
Romance      25
Thriller     26
Thriller      3
Name: ReleaseTime, dtype: int64

In [14]:
a='1234'
print(a[1])

2

In [21]:
#[start:stop:step]--slicing
#len()
#slicing
s='hjrvbgkjerlgtbreh'
print(s[0:2])

hj