In [69]:
import pandas as pd

In [92]:
x=pd.read_csv("Downloads\\bollywood.csv")

In [93]:
x

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [98]:
d=x.groupby('Genre')['MovieName'].count()

In [101]:
d.sort_values(ascending=False,inplace=True)

In [102]:
d

Genre
Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Action        3
Thriller      3
Name: MovieName, dtype: int64

In [104]:
x.groupby("ReleaseTime")['Genre'].count()

ReleaseTime
FS    17
HS    18
LW    15
N     99
Name: Genre, dtype: int64

In [105]:
#6.	Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
#(ROI) as (BoxOfficeCollection-Budget) / Budget.
x['ROI']=(x['BoxOfficeCollection']-x['Budget']/x['Budget'])

In [107]:
d=x.groupby('MovieName')['ROI'].sum()

In [109]:
d.sort_values(ascending=False,inplace=True)

In [110]:
d

MovieName
PK                      734.00
Chennai Express         394.00
Happy New Year          382.00
Kick                    376.00
Bang Bang               339.00
                         ...
Kya Dilli Kya Lahore     -0.50
Rajdhani Express         -0.65
Sona Spa                 -0.76
Bandook                  -0.91
Gangoobai                -0.99
Name: ROI, Length: 149, dtype: float64

In [118]:
d.head(10)

MovieName
PK                         734.0
Chennai Express            394.0
Happy New Year             382.0
Kick                       376.0
Bang Bang                  339.0
Yeh Jawaani Hai Deewani    310.0
Krrish 3                   299.0
Grand Masti                297.0
Singham Returns            199.0
Bhaag Milkha Bhaag         163.0
Name: ROI, dtype: float64

In [116]:
d.iloc[20:25]

MovieName
Mary Kom        103.0
Special 26      102.0
Himmatwala       99.0
Raanjhanaa       99.0
The Lunchbox     84.0
Name: ROI, dtype: float64

In [106]:
x

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,ROI
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527,103.00
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137,11.00
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54,3.00
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19,-0.65
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224,9.80
...,...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615,29.00
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513,31.10
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807,11.00
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762,10.89
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649,119.00

In [84]:
d={'name':['bhaiya','ravi','vivek',' vivek'],
  'age':[12,12,1,2]}
x=pd.DataFrame(d)
print(x)

     name  age
0  bhaiya   12
1    ravi   12
2   vivek    1
3   vivek    2

In [79]:
for i in x['name']:
    print(i)

bhaiya
ravi
vivek
 vivek

In [7]:
#1.	How many records are present in the dataset? Print the metadata information of the dataset.
#2.	How many movies got released in each genre? Which genre had highest number of releases?
#Sort number of releases in each genre in descending order.
#3.	How Many movies in each genre got released in different release times like long weekend,
#festive season ,etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)
#4.	Which month of the year, maximum number movie releases are seen? (Note: Extract a new column)                                                                  called month from ReleaseDate column.)
#5.	Which month of the year typically sees most releases of high budgeted movies, that is, movies with 
#budget of 25 crore or more?
#6.	Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
#(ROI) as (BoxOfficeCollection-Budget) / Budget.
#7.	Do the movies have higher ROI if they get released on festive season or long weekend? Calculate
#the average ROI for different release times.

In [26]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB

In [30]:
d=x.groupby("Genre")['MovieName'].count()

In [32]:
d.sort_values(ascending=False,inplace=True)

In [33]:
d

Genre
Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Action        3
Thriller      3
Name: MovieName, dtype: int64

In [35]:
c=x.groupby("Genre")['MovieName'].count()

In [36]:
c

Genre
 Drama       35
Action       21
Action        3
Comedy       36
Romance      25
Thriller     26
Thriller      3
Name: MovieName, dtype: int64

In [42]:
a=x.groupby('ReleaseTime')['Genre'].count()

In [43]:
a

ReleaseTime
FS    17
HS    18
LW    15
N     99
Name: Genre, dtype: int64

In [54]:
#6.	Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
#(ROI) as (BoxOfficeCollection-Budget) / Budget.

In [57]:
x['ROI']=(x["BoxOfficeCollection"]-x["Budget"]/x['Budget'])

In [58]:
x

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,ROI
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527,103.00
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137,11.00
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54,3.00
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19,-0.65
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224,9.80
...,...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615,29.00
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513,31.10
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807,11.00
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762,10.89
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649,119.00

In [63]:
d=x.groupby('MovieName')['ROI'].sum()

In [65]:
d.sort_values(ascending=False,inplace=True)

In [68]:
d

MovieName
PK                      734.00
Chennai Express         394.00
Happy New Year          382.00
Kick                    376.00
Bang Bang               339.00
                         ...
Kya Dilli Kya Lahore     -0.50
Rajdhani Express         -0.65
Sona Spa                 -0.76
Bandook                  -0.91
Gangoobai                -0.99
Name: ROI, Length: 149, dtype: float64

In [67]:
d.head(10)

MovieName
PK                         734.0
Chennai Express            394.0
Happy New Year             382.0
Kick                       376.0
Bang Bang                  339.0
Yeh Jawaani Hai Deewani    310.0
Krrish 3                   299.0
Grand Masti                297.0
Singham Returns            199.0
Bhaag Milkha Bhaag         163.0
Name: ROI, dtype: float64