In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
a=pd.read_csv("Downloads\\bollywood.csv")

In [28]:
a

,SlNo,Release Date,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,2 States,LW,Romance,36,104.00,8576361,26622,2527
1,2,4-Jan-13,Table No. 21,N,Thriller,10,12.00,1087320,1129,137
2,3,18-Jul-14,Amit Sahni Ki List,N,Comedy,10,4.00,572336,586,54
3,4,4-Jan-13,Rajdhani Express,N,Drama,7,0.35,42626,86,19
4,5,4-Jul-14,Bobby Jasoos,N,Comedy,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...,...,...,...
144,145,27-Feb-15,Dum Laga Ke Haisha,N,Comedy,15,30.00,3250917,8185,615
145,146,13-Mar-15,NH10,N,Thriller,13,32.10,5592977,15464,1513
146,147,20-Mar-15,Dilliwali Zaalim Girlfriend,N,Comedy,32,12.00,2316047,4289,807
147,148,20-Mar-15,Hunterrr,N,Comedy,5,11.89,4674795,3706,762
148,149,23-May-14,Kochadaiiyaan,HS,Action,150,120.00,4740727,13466,2649

In [14]:
d={'x':['ravi','nikhilsir','prerna mam','uttam sir','chatinya sir',' ravi','prerna mam'],
  'b':[2000,2500,5000,1200,2400,7000,8000]}
x=pd.DataFrame(d)

In [15]:
x

              x     b
0          ravi  2000
1     nikhilsir  2500
2    prerna mam  5000
3     uttam sir  1200
4  chatinya sir  2400
5          ravi  7000
6    prerna mam  8000

In [16]:
x.groupby('x')['b'].sum()

x
 ravi            7000
chatinya sir     2400
nikhilsir        2500
prerna mam      13000
ravi             2000
uttam sir        1200
Name: b, dtype: int64

In [17]:
a.groupby('Genre')['ReleaseTime'].count()

Genre
 Drama       35
Action       21
Action        3
Comedy       36
Romance      25
Thriller     26
Thriller      3
Name: ReleaseTime, dtype: int64

In [18]:
a.groupby('Genre')['BoxOfficeCollection'].count()

Genre
 Drama       35
Action       21
Action        3
Comedy       36
Romance      25
Thriller     26
Thriller      3
Name: BoxOfficeCollection, dtype: int64

In [29]:
a['Genre'].head(10)

0      Romance
1    Thriller
2       Comedy
3       Drama
4       Comedy
5       Drama
6       Comedy
7       Comedy
8       Comedy
9       Drama
Name: Genre, dtype: object

In [20]:
a.drop(labels=["MovieName","ReleaseTime","Genre"],axis=1,inplace=True)

In [21]:
a

,SlNo,Release Date,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
0,1,18-Apr-14,36,104.00,8576361,26622,2527
1,2,4-Jan-13,10,12.00,1087320,1129,137
2,3,18-Jul-14,10,4.00,572336,586,54
3,4,4-Jan-13,7,0.35,42626,86,19
4,5,4-Jul-14,18,10.80,3113427,4512,1224
...,...,...,...,...,...,...,...
144,145,27-Feb-15,15,30.00,3250917,8185,615
145,146,13-Mar-15,13,32.10,5592977,15464,1513
146,147,20-Mar-15,32,12.00,2316047,4289,807
147,148,20-Mar-15,5,11.89,4674795,3706,762
148,149,23-May-14,150,120.00,4740727,13466,2649

In [48]:
for i in range(4):
    for j in range(4):
        print("A",end=" ")
    print()

A A A A
A A A A
A A A A
A A A A

In [22]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   Budget               149 non-null    int64
 3   BoxOfficeCollection  149 non-null    float64
 4   YoutubeViews         149 non-null    int64
 5   YoutubeLikes         149 non-null    int64
 6   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 8.3+ KB

In [30]:
a['Genre'].count()

149

In [51]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       7 non-null      object
 1   b       7 non-null      int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [31]:
a.groupby('Genre')['MovieName'].count()

Genre
 Drama       35
Action       21
Action        3
Comedy       36
Romance      25
Thriller     26
Thriller      3
Name: MovieName, dtype: int64

In [32]:
d=a.groupby('Genre')['MovieName'].count().max()
d

36

In [33]:
d=a.groupby('Genre')['MovieName'].count()
d.sort_values(ascending = False,inplace=True)
d

Genre
Comedy       36
 Drama       35
Thriller     26
Romance      25
Action       21
Action        3
Thriller      3
Name: MovieName, dtype: int64

# Q3.How Many movies in each genre got released in different release times like long weekend,
# festive season ,etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)

In [34]:
a.groupby('ReleaseTime')['Genre'].count()

ReleaseTime
FS    17
HS    18
LW    15
N     99
Name: Genre, dtype: int64

# Q4.4.	Which month of the year, maximum number movie releases are seen? (Note: Extract a new column
                                                                      # called month from ReleaseDate column.)

In [35]:
y=[i[-6:-3] for i in x["Release Date"]]
# for i in x["Release Date"]:
#     y.append(i[-6:-3])
y

KeyError: 'Release Date'

In [28]:
x.insert(2,'Months',y)

NameError: name 'y' is not defined

In [29]:
x

              x     b
0          ravi  2000
1     nikhilsir  2500
2    prerna mam  5000
3     uttam sir  1200
4  chatinya sir  2400
5          ravi  7000
6    prerna mam  8000

In [30]:
y=x.groupby('Months')["MovieName"].count()
y

KeyError: 'Months'

In [31]:
y.sort_values(ascending=False,inplace=True)

NameError: name 'y' is not defined

In [32]:
y

NameError: name 'y' is not defined

# Q5.Which month of the year typically sees most releases of high budgeted movies, that is, movies with 
# budget of 25 crore or more?

In [1]:
y= x[x['Budget']>=25]
y.groupby("Months")['Budget'].count()

NameError: name 'x' is not defined

# Q6.Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
# (ROI) as (BoxOfficeCollection-Budget) / Budget.

In [34]:
x["ROI"]=(x["BoxOfficeCollection"]-x["Budget"])/x['Budget']

KeyError: 'BoxOfficeCollection'

In [35]:
x

              x     b
0          ravi  2000
1     nikhilsir  2500
2    prerna mam  5000
3     uttam sir  1200
4  chatinya sir  2400
5          ravi  7000
6    prerna mam  8000

In [36]:
x.sort_values("ROI",ascending=False,inplace=True)

KeyError: 'ROI'

In [ ]:
x.head(10)

In [ ]:
x

# Q7.Do the movies have higher ROI if they get released on festive season or long weekend? Calculate

# the average ROI for different release times.

In [ ]:
a=x.groupby('ReleaseTime')['ROI'].mean()

In [ ]:
a

In [ ]:
u=x.groupby('ReleaseTime')['ROI'].mean().max()

In [ ]:
u

# Q8.	Draw a histogram and distribution plot to find out the distribution of movie budgets.
# Interpret the plot to conclude if the most movies are high or low budgeted movies.

In [ ]:
a=x.groupby('MovieName')["Budget"].sum()

In [ ]:
a

In [ ]:
a.plot.hist(bins=20,color='black')

# Q9.	Compare the distribution of ROIs between movies with comedy genre and drama. Which genre typically sees higher ROIs ?

In [ ]:
i=x.groupby('Genre')['ROI'].sum()

In [ ]:
i

In [ ]:
i.sort_values(ascending=False,inplace=True)

In [ ]:
i

# Q10.Is there a correlation between Box office collection and YouTube likes? Is the correlation positive or negative?

In [ ]:
x

In [ ]:

1.	How many records are present in the dataset? Print the metadata information of the dataset.
2.	How many movies got released in each genre? Which genre had highest number of releases?
Sort number of releases in each genre in descending order.
3.	How Many movies in each genre got released in different release times like long weekend,
festive season ,etc. (Note: Do a cross tabulation between Genre and ReleaseTime.)
4.	Which month of the year, maximum number movie releases are seen? (Note: Extract a new column
                                                                      called month from ReleaseDate column.)
5.	Which month of the year typically sees most releases of high budgeted movies, that is, movies with 
budget of 25 crore or more?
6.	Which are the top 10 movies with maximum return on investment (ROI)? Calculate return on investment
(ROI) as (BoxOfficeCollection-Budget) / Budget.
7.	Do the movies have higher ROI if they get released on festive season or long weekend? Calculate
the average ROI for different release times.
8.	Draw a histogram and distribution plot to find out the distribution of movie budgets.
Interpret the plot to conclude if the most movies are high or low budgeted movies.
9.	Compare the distribution of ROIs between movies with comedy genre and drama. Which genre typically sees higher ROIs ?
10.	Is there a correlation between Box office collection and YouTube likes? Is the correlation positive or negative?
11.	Which genre of movies typically sees more YouTube likes ? Draw boxplot for each genre of movies to compare.
12.	Which of the variables among Budget, BoxOfficeCollection, YoutubeViews, YoutubeLikes, YoutubeDislikes are highly correlated? Note: Draw pair plot or heatmap.

# Q11.Which genre of movies typically sees more YouTube likes ? Draw boxplot for each genre of movies to compare.

In [ ]:
x.groupby('Genre')['YoutubeLikes'].sum()

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url='https://www.techtarget.com/searchsecurity/definition/two-factor-authentication'

In [ ]:
r=requests.get(url)

In [ ]:
r

In [ ]:
soup=BeautifulSoup(r.content,'html.parser')
print(soup.prettify)

In [ ]:
x=soup.find('h1',class_='definition-title')

In [ ]:
x

In [ ]:
for i in x:
    print(i)

In [ ]:
n=int(input("ENter the number: "))
for i in range(1,n+1):
    for j in range(1,n):
        print("#",end=" ")
    print()

### x =[12,75,150,180,145,525,50]
for i in x:
    if i>150 and i%5==0:
        print(i)
    elif i>500:
        break;

In [ ]:
x=[12,75,150,180,145,525,50]
for i in x:
    if i>500:
        break;
    elif i>150:
        continue;
    elif i%5==0:
        print(i)

In [ ]:
x=[1,2,3,4,5]
for i in x:
    if i==2:
        continue;
    print(i)

In [ ]:
for i in range(1,3):
    print("#",end='')

In [ ]:
for i in range(1,10):
    x=int(input("ENter the number: "))