In [2]:
l = [[1,2],[3,4],[4,5]]
x=0
x1=0
b=[]
for i in l:
    if type(i)==list:
        for j in range(len(i)):
            if j==1:
                x=x+i[j]
            else:
                x1=x1+i[j]
b.append(x)
b.append(x1)
print(b)

[11, 8]

In [3]:
l = [[1,2],[3,4],[4,5]]
x=[]
b=[]
# l1 = [3 ,7 ,9]

# l2 = [8 ,11]
for i in l:
    s1=0
    if type(i)==list:
        for j in i:
            s1=s1+j
    x.append(s1)
print(x)

[3, 7, 9]

In [4]:
# l = [[4......],[5......] ,[6......],[7.......]]


l=[]
for i in range(4,9):
        l.append([i*j for j in range(1,11)])
print(l)

[[4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

In [5]:
l = [1,2,1,3,1,1,4,1]# l = [50,2,50,3,50,50,4,50]
for i in range(len(l)):
    if l[i]==1:
        l[i]=50
print(l)

[50, 2, 50, 3, 50, 50, 4, 50]

In [6]:
l = [1,2,[1,3,1,1],4,1]# sum ?
sum=0
for i in l:
    if type(i)==list:
        for j in i:
                sum=sum+j
    else:
                sum=sum+i
print(sum)

14

In [7]:
x=[1,2,[1,3,1,1],4,1]
for i in range(len(x)):
    if type(x[i])==list:
        for j in range(len (x[i])):
            if x[i][j]==1:
                x[i][j]=50
    else:
                if x[i]==1:
                    x[i]=50
print(x)

[50, 2, [50, 3, 50, 50], 4, 50]

In [76]:
l = ["nitin" , "riya" , "tina"]

In [8]:
import pandas as pd
import numpy as np

In [36]:
d={'name':['Ravi','vineet','Uttam sir','Nikhil Sir'],
  'age':[21,22,26,27]}
x=pd.Series(d)
for i in x:
    print(i[0:2])

['Ravi', 'vineet']
[21, 22]

In [67]:
x=pd.Series(12,index=['ravi' for i in range(1,100)])
x

ravi    12
ravi    12
ravi    12
ravi    12
ravi    12
        ..
ravi    12
ravi    12
ravi    12
ravi    12
ravi    12
Length: 99, dtype: int64

In [54]:
x.head(2)

ravi    12
ravi    12
dtype: int64

In [53]:
x.tail(2)

ravi    12
ravi    12
dtype: int64

In [63]:
x1=pd.Series(data=12,index=[0,1,2,3,4,5,6])
x2=pd.Series(data=12,index=[0,1,2,3,4])
print(x1+x2)

0    24.0
1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64