# Q1.Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)

In [1]:
for i in range(1500,2700):
    if i%5==0 and i%7==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

# Q2. Write a Python program to guess a number between 1 to 9

In [2]:
import random

In [3]:
i=0
while True:
    if

SyntaxError: invalid syntax (1975608336.py, line 3)

# Q3. Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
n=5
for i in range(n):
    for j in range(i):
        print('* ',end='')
    print()
for i in range(n,0,-1):
    for j in range(i):
        print('* ',end="")
    print()

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

# Q5. Write a Python program that accepts a word from the user and reverse it.

In [ ]:
x=input("enter the number: ")
a=''
for i in x:
    if i.isalpha():
        a=a+i
        print(a[::-1])

In [ ]:
x=input("enter the number: ")
print(x[::-1])

# Q6. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
x=(1,2,3,4,5,6,7,8,9)
c=0
c1=0
for i in x:
    if  i%2==0:
        c=c+1
    else:
        c1=c1+1
print('odd number:',c1)
print("even number:",c)

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
             count_even+=1
        else:
             count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

In [23]:
n=int(input("Enter the number: "))
for i in range(n):
    for j in range(i,0,-1):
        print(j,end="")
    print()

Enter the number: 5

1
21
321
4321

In [24]:
n=int(input("Enter the number: "))
for i in range(n+1):
    for j in range(n-i,0,-1):
        print(j,end="")
    print()

Enter the number: 5
54321
4321
321
21
1

In [28]:
str=['p','y','t','h','o','n']
for i in range(1,7):
    for j in range(i):
        print(str[j],end=" ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [32]:
y='Python'
i=0
for x in range(1,len(y)+1):
    print(y[i:x])

P
Py
Pyt
Pyth
Pytho
Python

In [33]:
x="python"
for i in range(len(x)):
    print(x[:i+1])
print()

p
py
pyt
pyth
pytho
python

In [35]:
n=int(input("ENter the number: "))
for i in range(n):
    for j in range(i):
        print('',end="")
    for k in range(n,i,-1):
        print(k,end=" ")
    print()

ENter the number: 5
0
5 4 3 2 1
1
5 4 3 2
2
5 4 3
3
5 4
4
5

In [11]:
a='1r2a3v4i5'
a.count('')
# len(a)

10

In [5]:
a

'ravi'

In [12]:
a='python'
b='pythoN'
print(a>b)

True

In [15]:
x=int(input('enter no:'))
y=int(input('enter no:'))
z=int(input('enter no:'))
if x>y and x<z:
    print(x,'X is the 2nd largest')
elif y>x and y<z:
    print(y,'Y is the 2nd largest')
else:
    print(z,'Z is the 2nd largest')

enter no:10
enter no:20
enter no:30
20 Y is the 2nd largest

In [21]:
x=int(input("ENter the number: "))
if x<20:
    print(x,"yes")
else:
    print("NO")

ENter the number: 4
4 yes

In [23]:
for i in range(6,20):
    print(i)

6
7
8
9
10
11
12
13
14
15
16
17
18
19