In [1]:
x=int(input("enyer the number: "))
a=0
if x==1 or x==0:
    a=1
for i in range(2,x):
    if x%i==0:
        a=1
if a==1:
    print("Not prime number")
else:
    print(" Prime number")

enyer the number: 7
 Prime number

In [2]:
import requests,webbrowser as mn
import pandas as pd

In [6]:
a=['a','b','c',"h",'h','y','d','s','h','h']
i=0
while i<len(a):
    if a[i]=='h':
        a.insert(i,2)
        i=i+2
        
    else:
        i=i+1
print(a)

['a', 'b', 'c', 2, 'h', 2, 'h', 'y', 'd', 's', 2, 'h', 2, 'h']

In [3]:
requests,webbrowser("https://www.bukalapak.com/")

NameError: name 'webbrowser' is not defined

In [ ]:
import pandas as pd

In [ ]:
!pip install beautifulsoup4
import requests
import bs4
link= "https://www.bukalapak.com/"
temp=requests.get(link)
temp
data=bs4.BeautifulSoup(temp.content)

In [ ]:
data

In [ ]:
x=pd.DataFrame(data)

In [5]:
x

NameError: name 'x' is not defined

In [ ]:
n=int(input("ENter the number: "))
for i in range(n):
    for j in range(n-i):
        print

In [ ]:
l=['a','b','c','h','h','y','h','d','h','h']
i=0
while i<len(l):
    if l[i]=='h':
        l.insert(i,2)
        i=i+2
    else:
        i=i+1
print(l)

In [ ]:
import pandas as pd

In [ ]:
d={'age':[10,20,30,40,50,60],
  'salary':[2000,3000,23000,23400,45500,9000]}

In [ ]:
for i in x['salary']:
    print(type(i))

In [ ]:
d

In [ ]:
x=pd.DataFrame(d)

In [ ]:
x

In [ ]:
x['age'].nlargest(2)

In [16]:
a=['a','b','c',"h",'h','y','d','s','h','h']
i=0
while i<len(a):
    if a[i]=='h':
        a.insert(i,2)
        i=i+2
    else:
        i=i+1
print(a)

['a', 'b', 'c', 2, 'h', 2, 'h', 'y', 'd', 's', 2, 'h', 2, 'h']

In [7]:
"this is a very long string" * (-1)

''

In [8]:
class A:
    def function(self):
        return A()
a = A()
A = int
print(a.function())

0

In [10]:
max(-0.0, 0.0)
# Negative zero and zero are treated as equal in Python.

-0.0

In [11]:
x = (1 << 53) + 1
x + 1.0 > x

False

In [12]:

round(3 / 2)
round(5 / 2)

2

In [13]:
round(7 / 2)

4

In [14]:
sum("")
sum("",[])
sum("",{})

{}

In [15]:
sum("")
sum(iterable, /, start=0)

Sums start and the items of an iterable from left to right and returns the total. 
The iterable’s items are normally numbers, and the start value is not allowed to be a string.

In all the cases above “” (empty string) is treated as an empty sequence, therefore sum will simply return 
the start argument as a total result. In the first case it defaults to zero,
for the second and the third case it implies that empty list and dictionary are passed in as a start argument.

0