In [1]:
import pandas as pd

In [2]:
x=pd.read_excel("Downloads\\Data_Dictionary.xlsx")

In [3]:
x

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
112    verification_status  Indicates if income was verified by LC, not ve...
113  verified_status_joint  Indicates if the co-borrowers' joint income wa...
114               zip_code  The first 3 numbers of the zip code provided b...
115                    NaN                                                NaN
116                    NaN  * Employer Title replaces Employer Name for al...

[117 rows x 2 columns]

In [4]:
z=pd.read_csv("loan.csv")

C:\Users\baliy\AppData\Local\Temp\ipykernel_20292\2444971514.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  z=pd.read_csv("loan.csv")

In [5]:
z

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
z.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [7]:
l=['a','d','s','h','h','k','y','h','h']
i=0
while i<len(l):
    if l[i]=='h':
        l.insert(i,1)
        i=i+2
    else:
        i=i+1
print(l)

['a', 'd', 's', 1, 'h', 1, 'h', 'k', 'y', 1, 'h', 1, 'h']

In [8]:
# s='rge/rgtr'

In [18]:
s='abcd'
b=0
while b<len(s):
    print(s[b-1],end="")
    b=b-1
print(b)

dcba

IndexError: string index out of range

In [35]:
x=int(input("Enter the number: "))
l=[2000,500,100,200,10,1]
a={}
for i in l:
    if x>=i:
        a[i]=x//i
        x=x%i
print(a)

Enter the number: 6546
{2000: 3, 500: 1, 10: 4, 1: 6}

In [23]:
x=100
i=12
print(x%i)

4

In [33]:
x=[2000,500,100,50,10,5,1]
y=[]
n=int(input("enter the number: "))
for i in x:
    for j in x:
        if n>=j:
            y.append(j)
            n=n-j
            break
print(y)

enter the number: 3455
[2000, 500, 500, 100, 100, 100, 100]

# for loop

In [8]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:  #i=1  1%2==0   False 
              #i=2 2%2==0 True 2
              # i=3 3%2==0 False
              # i=4 4%2==0 True print(4)
    if i%2==0:
        print(i,end=" ")

1

In [ ]:
# for loop kya krta hh for loop humara one by one condition ko uthata hh and usko chgeck krta h
# agr condition true toh if condition ke andr print other wise esle mai bss yeh kaam hh 
# for loop ka

In [19]:
x='interview'
print(x.replace('e','',1))

intrview

In [40]:
x=[1,2,3,4,5,6,7,8,1,2,3,4,2,1,2,4,5]
print(type(x))

<class 'list'>

In [36]:
# Q3.Find the last position of a given substring
x="Emma is a data scientist who knows Python.Emma works at google."
x.rfind('e')

61

In [35]:
#Q7. Write a Python program to convert a list of characters 
# into a string?(s=['4','A','C','H','I','E','V','E','R','S'])
# Note:Their should be space between 4 and A
s=['4','A','C','H','I','E','V','E','R','S']
a=s[0]+' '+''.join(s[1:])
print(a)

4 ACHIEVERS